{% load static %}
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright © 2026 Pendeza Uganda. All Rights Reserved. | Powered by
          <a target="_blank" href="https://perpetual-web-vert.vercel.app/" class="creator-link" style="font-family: 'Brush Script MT', cursive; color: whitesmoke; text-decoration: none;">Perpetual Labs</a>
          | Pendeza Connect
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <a target="_blank" class="m-1 btn btn-primary btn-floating" style="background-color: #3b5998" href="https://www.facebook.com/niwahae" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a target="_blank" class="m-1 btn btn-primary btn-floating" style="background-color: #55acee" href="https://twitter.com/edwinniwaha" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a target="_blank" class="m-1 btn btn-primary btn-floating" style="background-color: #ac2bac" href="https://instagram.com/niwaha_edwin" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a target="_blank" class="m-1 btn btn-primary btn-floating" style="background-color: #0082ca" href="https://www.linkedin.com/in/edwin-niwaha-155089100/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a target="_blank" class="m-1 btn btn-primary btn-floating" style="background-color: #333333" href="https://github.com/edwin-niwaha" role="button"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- end Footer -->
