{% if messages %}
<div class="toast-container position-fixed top-50 start-50 translate-middle p-3" style="z-index: 1000;">
  {% for message in messages %}
  <div class="toast {% if message.tags %} {{ message.tags }} {% endif %} fade show" role="alert" aria-live="assertive"
    aria-atomic="true" data-autohide="true" data-delay="300">
    <!-- added data-autohide and data-delay attributes -->
    <div class="toast-header">
      <strong class="me-auto">Notification</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">{{ message }}</div>
  </div>
  {% endfor %}
</div>
{% endif %}

<!--Hide the Notification-->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, {
        autohide: true
      });
    });
    toastList.forEach(function (toast) {
      toast.show();
    });
  });
</script>