{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <h3 class="mb-0"> {{table_title|upper}} <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block"></span></h3>
        <div class="d-flex">
            <button title="Print" type="button" class="btn btn-sm ml-3 btn-success" onclick=" printDiv('printMe')">
                <i class="mdi mdi-printer btn-icon-prepend"></i> </button>

            <button title="Export To Excel" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="ExportToExcel('xlsx')">
                <i class="mdi mdi-file-excel btn-icon-prepend"></i> </button>

            <button title="Export To Word" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="Export2Doc('printMe');">
                <i class="mdi mdi-file-word btn-icon-prepend"></i> </button>

            <a title="Bulk Import" class="btn btn-sm ml-3 btn-success" href="{% url 'import_child_data' %}"><i
                    class="mdi mdi-upload btn-icon-prepend"></i></a>

            <a title="View imported data" class="btn btn-sm ml-3 btn-success" href="{% url 'imported_data' %}"><i
                    class="mdi mdi-chart-line btn-icon-prepend"></i></a>

            <form action="{% url 'delete_confirmation' %}" method="post">
                {% csrf_token %}
                <button title="Delete All" class="btn btn-sm ml-3 btn-danger btn-sm" type="submit"
                    onclick="return confirm('Are you sure about this? all records will be deleted permanently');"><i
                        class="mdi mdi-cancel btn-icon-prepend"></i></button>
            </form>
        </div>
    </div>
    <hr>
    <div id="printMe" class="tab-pane show active">
        <header style="text-align: center;">
            <hr class="bg-info" style="height: 5px;" />
        </header>
        <table class="my-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">D.O.B</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Height</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {%for r in records%}
                <tr>
                    <th scope="row">{{forloop.counter}}.</th>
                    <td>{{r.prefixed_id}}</td>
                    <td>{{r.full_name}}</td>
                    <td>{{r.gender}}</td>
                    <td>{{r.date_of_birth}}</td>
                    <td>{{r.weight}}</td>
                    <td>{{r.height}}</td>
                    <td>
                        {% if user.profile.role == 'administrator' or user.profile.role == 'manager' %}
                        <a class="btn btn-danger btn-sm" title="Erase" href="{% url 'delete_excel' r.id %}"
                            onclick="return confirm('Are you sure about this? This record will be deleted permanently.');">
                            <i class="bi bi-trash"></i>
                        </a>
                        {% else %}
                        <button class="btn btn-danger btn-sm disabled" onclick="showNoPermissionMessage('delete')">
                            <i class="bi bi-trash"></i>
                        </button>
                        {% endif %}
                    </td>
                    {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}