{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <h3 class="mb-0"> {{table_title|upper}}<span class="pl-0 h6 pl-sm-2 text-muted d-inline-block"></span></h3>

        <div class="d-flex">
            <button title="Print PDF" type="button" class="btn btn-sm ml-3 btn-success" onclick=" printDiv('printMe')">
                <i class="mdi mdi-printer btn-icon-prepend"></i> </button>

            <button title="Export To Excel" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="ExportToExcel('xlsx')">
                <i class="mdi mdi-file-excel btn-icon-prepend"></i> </button>

            <button title="Export To Word" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="Export2Doc('printMe');">
                <i class="mdi mdi-file-word btn-icon-prepend"></i> </button>

            <a title="Register Child" class="btn btn-sm ml-3 btn-success" href="{% url 'manage_child' %}"><i
                    class="mdi mdi-account-plus btn-icon-prepend"></i>
            </a>
            <a title="View List..." class="btn btn-sm ml-3 btn-success" href="{% url 'child_list' %}"><i
                    class="mdi mdi-chart-line btn-icon-prepend"></i>
            </a>
        </div>
    </div>
    <hr>
    <div id="printMe" class="tab-pane show active">
        <header style="text-align: center;">
            <i style="font-size: 2em; font-family: 'Lucida Calligraphy', 'Lucida Sans Unicode', sans-serif;"
                class="text-success">{{record.full_name}}</i> -
            <i style="font-size: 2em;">Profile</i>
        </header>
        <table class=" my-table">
            <tr>
                <td class="text-white bg-info" colspan="4"><b>Basic Info</b>
                </td>
            </tr>
            <tr>
                <td width="45%" rowspan="2" colspan="2">
                    {% if record.avatar == ""  %}
                    No avatar!
                    {% else %}
                    <img class="rounded-circle account-img" height="100" width="100" src="{{ record.picture.url }}"
                        style="cursor: pointer" />
                    {% endif %}
                    <i class="text-info">Reg. No:</i> {{ record.prefixed_id}}
                </td>
                <td class="text-info">Full Name:</td>
                <td>{{record.full_name}}</td>
            </tr>
            <tr>
                <td class="text-info">Preferred Name:</td>
                <td>{{record.preferred_name}}</td>
            </tr>
            <tr>
                <td class="text-info">Current Residence: </td>
                <td>{{record.residence}}</td>
                <td class="text-info">Home District: </td>
                <td>{{record.district}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <i class="text-info">Tribe: &rarr;</i>{{record.tribe}} |
                    <i class="text-info">Gender: &rarr;</i>{{record.gender}} |
                    <i class="text-info">Date of Birth: &rarr;</i>{{record.date_of_birth}}
                </td>
                <td class="text-success">{{ age }} year(s) old</td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Weight: &rarr;</i><i>{{record.weight}} Kgs</i>
                    <i class="text-info">Height: &rarr;</i><i>{{record.height}} cms</i>
                </td>
                <td colspan="2"><i class="text-info">Aspiration: &rarr;</i>
                    <i>{{record.aspiration}}</i>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-info">Interest and abilities: </td>
                <td colspan="2">{{record.c_interest}}</td>
            </tr>
            <tr>
                <td class="text-white bg-info" colspan="4"><b>Education Details </b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <i class="text-info">Is the child in school? &rarr; </i> {{record.is_child_in_school}}
                </td>
                <td colspan="2">
                    {% if record.is_child_in_school == "Yes"  %}
                    <a href="#"
                        class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="text-success">View education details...</i>
                    </a>
                    {% else %}
                    <i class="text-warning">Education details not available...</i>
                </td>
            </tr>
            {% endif %}

            <tr>
                <td class="text-white bg-info" colspan="4"><b>Sponsorship details...</b>
                </td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Is the child sponsored? &rarr; </i> {{record.is_sponsored}}
                </td>
                <td colspan="2">
                    {% if record.is_sponsored == "Yes"  %}
                    <a href="#"
                        class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="text-success">View sponsorship details...</i>
                    </a>
                    {% else %}
                    <i class="text-warning">Sponsorship details not available...</i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="text-white bg-info" colspan="4"><b>Family Background </b>
                </td>
            </tr>
            <tr>
                <td class="text-info">Siblings: </td>
                <td>{{record.siblings}}</td>
                <td class="text-info">Current Guardian: </td>
                <td>{{record.guardian}}</td>
            </tr>
            <tr>
                <td class="text-info">Gurdian Contact: </td>
                <td>{{record.guardian_contact}}</td>
                <td class="text-info">Relationsip with the Guardian </td>
                <td>{{record.relationship_with_guardian}}</td>
            </tr>
            <tr>
                <td>
                    <i class="text-info">Father's Name: </i>
                </td>
                <td>
                    {{record.father_name}}
                </td>
                <td colspan="2">
                    <i class="text-info">Is the Father alive? &rarr; </i>{{record.is_father_alive}}
                </td>

                </td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">If not what happened/if alive what is happening? &rarr;
                    </i>
                </td>
                <td colspan="2">{{record.father_description}}</td>
            </tr>

            <tr>
                <td>
                    <i class="text-info">Mother's Name: </i>
                </td>
                <td>
                    {{record.mother_name}}
                </td>
                <td colspan="2">
                    <i class="text-info">Is the Mother alive? &rarr; </i>{{record.is_mother_alive}}
                </td>

                </td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">If not what happened/if alive what is happening? &rarr;
                    </i>
                </td>
                <td colspan="2">{{record.mother_description}}</td>
            </tr>

            <tr>
                <td colspan="2"><i class="text-info">Other family back ground information:</i> &rarr; </td>
                <td colspan="2">{{record.background_info}}</td>
            </tr>
            <tr>
                <td class="text-white bg-info" colspan="4"><b>More Info...</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-info">Child’s health status: &rarr;</td>
                <td colspan="2">{{record.health_status}}</td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Child’s responsibilities: &rarr;</i></td>
                <td colspan="2">{{record.responsibility}}</td>
            </tr>
            <tr>
                <td colspan="3"><i class="text-info">Relationship with Christ:</i> &rarr;
                    {{record.relationship_with_christ}} |
                    <i class="text-info">Religion:</i> &rarr;{{record.religion}}
                </td>
                <td><i class="text-info">Year enrolled:</i> {{record.year_enrolled}}</td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Prayer needs/request</i> &rarr; </td>
                <td colspan="2">{{record.prayer_request}}</td>
            </tr>
            <tr>
                <td colspan="3"><i class="text-info">Staff Comment:</i> &rarr; {{record.staff_comment}}</td>
                <td> <i class="text-info">Compiled by: </i> {{record.compiled_by}}</td>
            </tr>
        </table>
        <hr class="bg-info" style="height: 3px;" />
    </div>
</div>


{% endblock content %}