<!-- Stacking Toast -->
{% if messages %}
<div class="d-flex justify-content-end" aria-live="polite" aria-atomic="true" style="position: relative">
  <!-- Position it -->
  <div class="toast-container" style="position: absolute; top: 0; right: 0">
    <!-- Then put toasts within -->
    {% for message in messages %}
    <div class="toast {% if message.tags %} {{message.tags}} {% endif %} fade show" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Notification...</strong>
        <button title="Close" type="button" class="ms-2 mb-1 btn-close" data-bs-dismiss="toast"
          aria-label="Close">X</button>
      </div>
      <div class="toast-body text-teal">{{ message }}</div>
    </div>
    {% endfor %}
    <!--end toast-->
  </div>
</div>
{% endif %}