<p style="text-align: center; margin-top: 20px;">
  <a href="https://www.betterunite.com/usapendeza"><button style="display: inline-block; margin: 0 10px; padding: 10px 20px; background-color: #f79420; color: white; border: none; border-radius: 5px; cursor: pointer;">Gift Store</button></a>
  <a href="https://app.betterunite.com/usapendeza-childsponsorship"><button style="display: inline-block; margin: 0 10px; padding: 10px 20px; background-color: #127d61; color: white; border: none; border-radius: 5px; cursor: pointer;">Donate USD</button></a>
  <!-- <a href="https://www.betterunite.com/usapendeza"><button style="display: inline-block; margin: 0 10px; padding: 10px 20px; background-color: #f79420; color: white; border: none; border-radius: 5px; cursor: pointer;">Donate UGX</button></a></p> -->
</p>

<h3><span style="color: #ff6600;">Envisioned</span> <span style="color: #008000;">Future</span></h3>
<p style="text-align: left;">By 2040, Pendeza Uganda will empower 1 million Ugandans in vulnerable communities to rise above poverty and become agents of holistic transformation.</p>
