{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="/" style="color:#127D61;">
      <img src="{% static 'images/file.png' %}" height="40" width="30" alt="Brand Logo" loading="lazy" />
    </a>
  </div>

  <ul class="nav">
    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#dashboardsMenu" aria-expanded="false" aria-controls="dashboardsMenu">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">DASHBOARDS</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboardsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'main-dashboard' %}"><i class="mdi mdi-gift menu-icon"></i> Sponsorship</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'inventory-dashboard' %}"><i class="mdi mdi-warehouse menu-icon"></i> Inventory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans-dashboard' %}"><i class="mdi mdi-cash-multiple menu-icon"></i> Loan Manager</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_account_list' %}"><i class="mdi mdi-bank menu-icon"></i> Manage Savings</a></li>
        </ul>
      </div>
    </li>

    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#financeClientsMenu" aria-expanded="false" aria-controls="financeClientsMenu">
        <i class="mdi mdi-account-group menu-icon"></i>
        <span class="menu-title">Manage Clients</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="financeClientsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'register_client' %}">Register Client</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'client_list' %}">Client Directory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'seven_hills_list' %}">7 Hills Clients</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#savingsManagementMenu" aria-expanded="false" aria-controls="savingsManagementMenu">
        <i class="mdi mdi-piggy-bank menu-icon"></i>
        <span class="menu-title">Manage Savings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="savingsManagementMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_account_list' %}">Savings Accounts</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_account_create' %}">Open Savings Account</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_transaction_create' %}">Record Transaction</a></li>
        </ul>
      </div>
    </li>

    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#loanApplicationsMenu" aria-expanded="false" aria-controls="loanApplicationsMenu">
        <i class="mdi mdi-file-document-box menu-icon"></i>
        <span class="menu-title">Loan Applications</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="loanApplicationsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:apply_for_loan' %}">New Application</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_applications' %}">Review Applications</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_applications_all' %}">All Applications</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:approved_loans' %}">Approved Loans</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:rejected_loans' %}">Rejected Loans</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#loanPortfolioMenu" aria-expanded="false" aria-controls="loanPortfolioMenu">
        <i class="mdi mdi-bank-transfer menu-icon"></i>
        <span class="menu-title">Disbursement</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="loanPortfolioMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:disburse_loan' %}">Disburse Loan</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:disbursed_loans' %}">Disbursed Loans</a></li>
          {% if loan %}
            <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_detail' loan.id %}">Current Loan Details</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'loans:disbursed_loans' %}">Loan Details</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_portfolio_report' %}">Portfolio Report</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#loanServicingMenu" aria-expanded="false" aria-controls="loanServicingMenu">
        <i class="mdi mdi-credit-card menu-icon"></i>
        <span class="menu-title">Loan Servicing</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="loanServicingMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_repayment_create' %}">Record Repayment</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_penalty_create' %}">Add Penalty</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_penalty_management' %}">Manage Penalties</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_statement' %}">Client Statement</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:due_overdue_report' %}">Due and Overdue</a></li>
        </ul>
      </div>
    </li>

    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#financeReportsMenu" aria-expanded="false" aria-controls="financeReportsMenu">
        <i class="mdi mdi-file-chart menu-icon"></i>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="financeReportsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_reports_dashboard' %}">Reports Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:ledger_report' %}">General Ledger</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan_aging_report' %}">Aging Report</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:loan-arrears-report' %}">Arrears Report</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:portfolio_at_risk_report' %}">Portfolio at Risk</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans:non_performing_loans' %}">Non-performing Loans</a></li>
        </ul>
      </div>
    </li>

    {% if user.profile.role == 'administrator' %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#financeSettingsMenu" aria-expanded="false" aria-controls="financeSettingsMenu">
          <i class="mdi mdi-alert menu-icon"></i>
          <span class="menu-title">Settings</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="financeSettingsMenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'loans:chart_of_accounts_list' %}">Chart of Accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'import_client_data' %}">Import Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'loans:import_coa_data' %}">Import Accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'loans:import_loan_data' %}">Import Loans</a></li>
          </ul>
        </div>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="showMessageSettings(event)">
          <i class="mdi mdi-alert menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
