{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="/" style="color:#127D61;">
      <img src="{% static 'images/file.png' %}" height="40" width="30" alt="Brand Logo" loading="lazy" />
    </a>
  </div>

  <ul class="nav">
    <li><hr class="sidebar-divider my-3" /></li>


    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#dashboardsMenu" aria-expanded="false" aria-controls="dashboardsMenu">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">DASHBOARDS</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboardsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'main-dashboard' %}"><i class="mdi mdi-gift menu-icon"></i> Sponsorship</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'inventory-dashboard' %}"><i class="mdi mdi-warehouse menu-icon"></i> Inventory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans-dashboard' %}"><i class="mdi mdi-cash-multiple menu-icon"></i> Loan Manager</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_account_list' %}"><i class="mdi mdi-bank menu-icon"></i> Savings Management</a></li>
        </ul>
      </div>
    </li>

    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#childrenMenu" aria-expanded="false" aria-controls="childrenMenu">
        <i class="mdi mdi-account-child menu-icon"></i>
        <span class="menu-title">Children</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="childrenMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'register_child' %}">Register Child</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_list' %}">Child Directory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'update_picture' %}">Profile Pictures</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_progress' %}">Progress Updates</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_correspondence' %}">Correspondence</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_incident' %}">Incidents</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_departure' %}">Departures</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'birthday_list' %}">Birthdays</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sponsorsMenu" aria-expanded="false" aria-controls="sponsorsMenu">
        <i class="mdi mdi-account-heart menu-icon"></i>
        <span class="menu-title">Sponsors</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sponsorsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'register_sponsor' %}">Register Sponsor</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'sponsor_list' %}">Sponsor Directory</a></li>
          {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'donor_list' %}">Donors</a></li> {% endcomment %}
          <li class="nav-item"><a class="nav-link" href="{% url 'sponsor_departure' %}">Departures</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#staffMenu" aria-expanded="false" aria-controls="staffMenu">
        <i class="mdi mdi-account-tie menu-icon"></i>
        <span class="menu-title">Staff</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="staffMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'register_staff' %}">Register Staff</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'staff_list' %}">Staff Directory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'staff_departure' %}">Departures</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sponsorshipMenu" aria-expanded="false" aria-controls="sponsorshipMenu">
        <i class="mdi mdi-hand-heart menu-icon"></i>
        <span class="menu-title">Sponsorship</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sponsorshipMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'child_sponsorship' %}">Child Sponsorship</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'staff_sponsorship_create' %}">Staff Sponsorship</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#contributionsMenu" aria-expanded="false" aria-controls="contributionsMenu">
        <i class="mdi mdi-square-inc-cash menu-icon"></i>
        <span class="menu-title">Contributions</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="contributionsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'momo_transaction_list' %}">MoMo Transactions</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'child_sponsor_payment' %}">Child Contributions</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'staff_sponsor_payment' %}">Staff Contributions</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'sponsor_payment_without_child' %}">Other Contributions</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#documentsMenu" aria-expanded="false" aria-controls="documentsMenu">
        <i class="mdi mdi-folder-outline menu-icon"></i>
        <span class="menu-title">Documents</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="documentsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'policy_list' %}">Policies</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'ebook_list' %}">E-books</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'doc_list' %}">Other Documents</a></li>
        </ul>
      </div>
    </li>

    {% if user.profile.role == 'administrator' %}
      <li><hr class="sidebar-divider my-3" /></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#sponsorshipSettingsMenu" aria-expanded="false" aria-controls="sponsorshipSettingsMenu">
          <i class="mdi mdi-shield-account menu-icon"></i>
          <span class="menu-title">Admin Tools</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="sponsorshipSettingsMenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'profile_list' %}">User Profiles</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_feedback' %}">User Feedback</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'sponsor_feedback_report' %}">Sponsor Feedback</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'import_child_data' %}">Import Children</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'import_sponsor_data' %}">Import Sponsors</a></li>
          </ul>
        </div>
      </li>
    {% endif %}

    <li><hr class="sidebar-divider my-3" /></li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'reports_dash' %}">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title">Reports</span>
      </a>
    </li>
    {% if user.profile.role == 'administrator' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile_list' %}">
          <i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="showMessageSettings(event)">
          <i class="mdi mdi-alert menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
