{% extends 'sdms/base_rpts.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="form-content my-5 p-4">
    <div class="container-fluid">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="{% url 'inventory-dashboard' %}" class="btn btn-info font-weight-bold">
                    <i class="mdi mdi-arrow-left-bold mr-2"></i> Go back
                </a>
                <form method="GET" action="{% url 'products:product_sales_report' %}">
                    {% csrf_token %}
                    <div class="form-row d-flex align-items-center">
                        <div class="form-group mb-0 mr-3">
                            <label for="start_date" class="sr-only">Start Date</label>
                            <input type="date" name="start_date" id="start_date" class="form-control"
                                value="{{ start_date }}" required>
                        </div>
                        <div class="form-group mb-0 mr-3">
                            <label for="end_date" class="sr-only">End Date</label>
                            <input type="date" name="end_date" id="end_date" class="form-control" value="{{ end_date }}"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Filter
                        </button>
                    </div>
                </form>

                <button title="Print" type="button" class="btn btn-success ml-2" onclick="printDiv('printMe')">
                    <i class="mdi mdi-printer btn-icon-prepend"></i> Print
                </button>
            </div>

            <div id="printMe" class="card-body">
                <!-- Report Header -->
                <div class="report-header text-center my-2">
                    <h3>
                        {{ table_title|upper }}
                        <span class="text-primary">{{ start_date }}</span>
                        <span class="text-primary">{{ end_date }}</span>
                    </h3>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Cost Price @</th>
                                <th>Selling Price @</th>
                                <th>Quantity Sold</th>
                                <th>Stock Bal</th>
                                <th>Total Revenue</th>
                                <th>Net Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in report_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.product.name }}</td>
                                <td class="text-right">{{ data.cost_price|floatformat:"2"|intcomma }}</td>
                                <td class="text-right">{{ data.selling_price|floatformat:"2"|intcomma }}</td>
                                <td>{{ data.total_quantity_sold }}</td>
                                <td>{{ data.quantity_in_stock }}</td>
                                <td class="text-right">{{ data.total_revenue|floatformat:"2"|intcomma }}</td>
                                <td class="text-right">{{ data.profit|floatformat:"2"|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><strong>Total</strong></td>
                                <td><strong>{{ total_quantity_sold }}</strong></td>
                                <td>{{ total_quantity_in_stock }}</td>
                                <td class="text-right"><strong>{{ total_revenue|floatformat:"2"|intcomma }}</strong>
                                </td>
                                <td class="text-right"><strong>{{ total_profit|floatformat:"2"|intcomma }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}