{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="{% url 'main-dashboard' %}" style="color:#127D61;">
            <img src="{% static 'images/file.png' %}" height="30" width="30" alt="" loading="lazy" />
        </a>
    </div>
    <ul class="nav">
        <li>
            <hr>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">SDMS-HOME</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'main-dashboard' %}">
                <i class="mdi mdi-lock-open menu-icon"></i>
                <span class="menu-title">DASHBOARD</span>
            </a>
        </li>
        <li>
            <hr />
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Manage Child</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register_child' %}" target="_self">Register Child</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_list' %}" target="_self">Child Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'update_picture' %}" target="_self">
                            Profile Picture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_progress' %}" target="_self">Child Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_correspondence' %}"
                            target="_self">Correspondence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_incident' %}" target="_self">Child Incidence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_departure' %}" target="_self">Child Depature</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-account-plus menu-icon"></i>
                <span class="menu-title">Manage Staff</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register_staff' %}" target="_self">Register Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'staff_list' %}" target="_self">Staff Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'staff_departure' %}" target="_self">Staff Depature</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-sp" aria-expanded="false"
                aria-controls="ui-basic">
                <i class="mdi mdi-account-convert menu-icon"></i>
                <span class="menu-title">Manage Sponsor</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-sp">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register_sponsor' %}" target="_self">Register
                            Sponsor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'sponsor_list' %}" target="_self">Sponsor Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'sponsor_departure' %}" target="_self">Sponsor
                            Depature</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-gift menu-icon"></i>
                <span class="menu-title">Sponsorship</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_sponsorship' %}" target="_self">Child
                            Sponsorship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'staff_sponsorship_create' %}" target="_self">Staff
                            Sponsorship</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-square-inc-cash  menu-icon"></i>
                <span class="menu-title">Contributions</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'child_sponsor_payment' %}" target="_self">Child
                            Contributions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'staff_sponsor_payment' %}" target="_self">Staff
                            Contributions</a>
                    </li>
                </ul>
            </div>
            <hr />
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports_dash' %}">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'client_list' %}">
                <i class="mdi mdi-account-multiple-plus menu-icon"></i>
                <span class="menu-title">Clients</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'policy_list' %}">
                <i class="mdi mdi-attachment menu-icon"></i>
                <span class="menu-title">Policies</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_ebook' %}">
                <i class="mdi mdi-file-pdf menu-icon"></i>
                <span class="menu-title">E-books</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_ebook' %}">
                <i class="mdi mdi-download menu-icon"></i>
                <span class="menu-title">Manual</span>
            </a>
        </li>
        <li>
            <hr />
        </li>

        {% if user.profile.role == 'administrator' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Settings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'profile_list' %}" target="_self">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users-feedback' %}" target="_self">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'import_child_data' %}" target="_self">Import
                            Children</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'import_sponsor_data' %}" target="_self">Import
                            Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'import_client_data' %}" target="_self">Import
                            Clients</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showMessageSettings(event)">
                <i class="mdi mdi-alert menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
<!-- end sidebar -->