{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="/" style="color:#127D61;">
      <img src="{% static 'images/file.png' %}" height="40" width="30" alt="Brand Logo" loading="lazy" />
    </a>
  </div>

  <ul class="nav">
    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#dashboardsMenu" aria-expanded="false" aria-controls="dashboardsMenu">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">DASHBOARDS</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboardsMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'main-dashboard' %}"><i class="mdi mdi-gift menu-icon"></i> Sponsorship</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'inventory-dashboard' %}"><i class="mdi mdi-warehouse menu-icon"></i> Inventory</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'loans-dashboard' %}"><i class="mdi mdi-cash-multiple menu-icon"></i> Loan Manager</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'savings_account_list' %}"><i class="mdi mdi-bank menu-icon"></i> Savings Management</a></li>
        </ul>
      </div>
    </li>

    <li><hr class="sidebar-divider my-3" /></li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#supplyMenu" aria-expanded="false" aria-controls="supplyMenu">
        <i class="mdi mdi-factory menu-icon"></i>
        <span class="menu-title">Supply Chain</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="supplyMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'supplier:supplier_list' %}">Suppliers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:categories_list' %}">Categories</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:products_list' %}">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:variants_list' %}">Product Variants</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#stockMenu" aria-expanded="false" aria-controls="stockMenu">
        <i class="mdi mdi-package-variant-closed menu-icon"></i>
        <span class="menu-title">Stock Control</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="stockMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'products:inventory_list' %}">Manage Stock</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:inventory_add' %}">Add Stock</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:stock_adjustment' %}">Adjust Stock</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:stock_alerts' %}">Stock Alerts</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#salesMenu" aria-expanded="false" aria-controls="salesMenu">
        <i class="mdi mdi-trending-up menu-icon"></i>
        <span class="menu-title">Sales</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="salesMenu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'sales:sales_list' %}">Sales List</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'sales:sales_add' %}">New Sale</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'customers:customers_list' %}">Customers</a></li>
        </ul>
      </div>
    </li>

    {% if user.profile.role == 'administrator' or user.profile.role == 'manager' or user.profile.role == 'hof' or user.profile.role == 'ed' %}
      <li><hr class="sidebar-divider my-3" /></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#inventoryReportsMenu" aria-expanded="false" aria-controls="inventoryReportsMenu">
          <i class="mdi mdi-file-chart menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="inventoryReportsMenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'products:inventory-report' %}">Inventory Report</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'sales:sales_report' %}">Sales Report</a></li>
          </ul>
        </div>
      </li>
    {% endif %}

    {% if user.profile.role == 'administrator' %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#inventorySettingsMenu" aria-expanded="false" aria-controls="inventorySettingsMenu">
          <i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Settings</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="inventorySettingsMenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'profile_list' %}">Profiles</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_feedback' %}">Feedback</a></li>
          </ul>
        </div>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="showMessageSettings(event)">
          <i class="mdi mdi-alert menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
