{% extends "emails/base.html" %}
{% load humanize %}

{% block content %}

<p>Dear <strong>{{ borrower.full_name }}</strong>,</p>

<p>
This is a reminder that your next installment for Loan #{{ loan.id }}
is due in <strong>{{ days_until }} day{{ days_until|pluralize }}</strong>.
</p>

<table>
<tr>
<th>Due Date</th>
<td>{{ next_due_date|date:"d M Y" }}</td>
</tr>
<tr>
<th>Installment Amount</th>
<td class="text-right amount">
UGX {{ amount_upcoming|floatformat:"0"|intcomma }}
</td>
</tr>
<tr>
<th>Total Outstanding</th>
<td class="text-right amount">
UGX {{ total_outstanding|floatformat:"0"|intcomma }}
</td>
</tr>
</table>

<p>Please plan accordingly to avoid late charges.</p>


<p><strong>Pendeza Uganda</strong></p>

{% endblock %}