{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <div class="d-flex">
            <button title="Email" type="button" class="btn btn-sm ml-3 btn-success">
                <i class="mdi mdi-email btn-icon-prepend"></i> </button>

            <button title="Print PDF" type="button" class="btn btn-sm ml-3 btn-success" onclick=" printDiv('printMe')">
                <i class="mdi mdi-printer btn-icon-prepend"></i> </button>

            <button title="Export To Excel" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="ExportToExcel('xlsx')">
                <i class="mdi mdi-file-excel btn-icon-prepend"></i> </button>

            <button title="Export To Word" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="Export2Doc('printMe');">
                <i class="mdi mdi-file-word btn-icon-prepend"></i> </button>

            <a title="Register Child" class="btn btn-sm ml-3 btn-success" href="{% url 'manage_child' %}"><i
                    class="mdi mdi-account-plus btn-icon-prepend"></i>
            </a>
            <a title="View List..." class="btn btn-sm ml-3 btn-success" href="{% url 'child_list' %}"><i
                    class="mdi mdi-chart-line btn-icon-prepend"></i>
            </a>
        </div>
    </div>
    <hr>
    <div id="printMe" class="tab-pane show active">
        <header style="text-align: center;">
            <i style="font-size: 2em;" class="text-primary">{{record.last_name}} {{record.first_name}}</i> -
            <i style="font-size: 2em;">Profile</i>
        </header>
        <table class=" my-table">
            <tr>
                <td class="text-white bg-info" colspan="4"><b>Basic Info</b>
                </td>
            </tr>
            <tr>
                <td width="45%" rowspan="2" colspan="2">
                    {% if record.avatar == ""  %}
                    No avatar!
                    {% else %}
                    <img class="rounded-circle account-img" height="100" width="100" src="{{ record.avatar.url }}"
                        style="cursor: pointer" />
                    {% endif %}
                    <i class="text-info">Reg. No:</i> {{ record.prefixed_id}}
                </td>
                <td class="text-info">First Name:</td>
                <td>{{record.first_name}}</td>
            </tr>
            <tr>
                <td class="text-info">Last Name:</td>
                <td>{{record.last_name}}</td>
            </tr>

            <tr>
                <td colspan="2">
                    <i class="text-info">Gender: </i>{{record.gender}}
                    <i class="text-info">Weight:
                    </i><i>{{record.weight}}Kgs</i> <i class="text-info">Height:</i>
                    <i>{{record.height}}"</i></td>
                <td class="text-info">Date of Birth:</td>
                <td>{{record.date_of_birth}}</td>
            </tr>
            <tr>
                <td><i class="text-info">Tribe:</i>
                </td>
                <td> {{record.tribe}}
                    &nbsp; | &nbsp;<i class="text-info">Background information:</i> &rarr; &rarr; </td>
                <td colspan="2">{{record.background_info}}</td>
            </tr>
            <tr>
                <td class="text-white bg-info" colspan="4"><b>More Info...</b>
                </td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Is the child sponsored? &rarr; </i> {{record.is_sponsored}}
                </td>
                <td colspan="2">
                    {% if record.is_sponsored == "Yes"  %}
                    <i class="text-info">Type of ponsorship: &rarr;
                    </i>{{record.sponsorship_type}}
                    {% else %}
                    <i class="text-info"> Type: </i> ................
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-info">Relationship with Christ &rarr;&rarr;</td>
                <td colspan="2">{{record.relationship_with_christ}}</td>
            </tr>
            <tr>
                <td class="text-info">Health Status: </td>
                <td>{{record.health_status}}</td>
                <td class="text-info">Religion: </td>
                <td>{{record.religion}}</td>
            </tr>
            <tr>
                <td class="text-info">Residence: </td>
                <td>{{record.residence}}</td>
                <td class="text-info">District: </td>
                <td>{{record.district}}</td>
            </tr>
            <tr>
                <td class="text-info">Interests: </td>
                <td>{{record.c_interest}}</td>
                <td class="text-info">Responsibilities: </td>
                <td>{{record.responsibility}}</td>
            </tr>
            <tr>
                <td class="text-info">Prayer request: </td>
                <td>{{record.prayer_request}}</td>
                <td class="text-info">Aspirations: </td>
                <td>{{record.aspiration}}</td>
            </tr>
            <tr>
                <td class="text-white bg-info" colspan="4"><b>Education Details </b>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <i class="text-info">Is the child in school? &rarr; </i> {{record.is_child_in_school}}
                </td>
            </tr>
            {% if record.is_child_in_school == "Yes"  %}
            <tr>
                <td class="text-info">School: </td>
                <td>{{record.name_of_the_school}}</td>
                <td class="text-info">Education level: </td>
                <td>{{record.education_level}}</td>
            </tr>
            <tr>
                <td class="text-info">Class: </td>
                <td>{{record.child_class}}</td>
                <td class="text-info">Best subject: </td>
                <td>{{record.best_subject}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">................</td>
            </tr>
            {% endif %}

            <tr>
                <td class="text-white bg-info" colspan="4"><b>Family Background </b>
                </td>
            </tr>
            <tr>
                <td class="text-info">Siblings: </td>
                <td>{{record.siblings}}</td>
                <td class="text-info">Guardian: </td>
                <td>{{record.guardian}}</td>
            </tr>
            <tr>
                <td class="text-info">Gurdian Contact: </td>
                <td>{{record.guardian_contact_number}}</td>
                <td class="text-info">Relationsip? </td>
                <td>{{record.relationship_with_guardian}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <i class="text-info">Father alive? &rarr; </i>{{record.is_father_alive}}
                    <i class="text-info">Father's Name: </i>{{record.father_name}}
                </td>
                {% if record.is_father_alive == "Yes"  %}
                <td colspan="2">
                    ................
                </td>
                {% else %}
                <td colspan="2">
                    <i class="text-info">Death Year?: </i>{{record.father_death_year}}
                    <i class="text-info">Death Cause: </i>{{record.father_death_cause}}
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="4"><i class="text-info">More description about the Father:
                    </i>{{record.father_description}}</td>

            </tr>
            <tr>
                <td colspan="2">
                    <i class="text-info">Mother alive? &rarr; </i>{{record.is_mother_alive}}
                    <i class="text-info">Mother's name: </i>{{record.mother_name}}
                </td>
                {% if record.is_mother_alive == "Yes"  %}
                <td colspan="2">
                    ................
                </td>
                {% else %}
                <td colspan="2">
                    <i class="text-info">Death Year?: </i>{{record.mother_death_year}}
                    <i class="text-info">Death Cause: </i>{{record.mother_death_cause}}
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="4"><i class="text-info">More description about the Mother:
                    </i>{{record.mother_description}}</td>
            </tr>
            <tr>
                <td colspan="2"> <i class="text-info">Compiled by: </i> {{record.compiled_by}}</td>

                <td class="text-info">Comment:</td>
                <td>{{record.staff_comment}}</td>
            </tr>
        </table>
        <hr class="bg-info" style="height: 5px;" />
    </div>
</div>


{% endblock content %}