{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <h3 class="mb-0">{{table_title|upper}}<span class="pl-0 h6 pl-sm-2 text-muted d-inline-block"></span></h3>
        <div class="d-flex">
            <button title="Print" type="button" class="btn btn-sm ml-3 btn-success" onclick=" printDiv('printMe')">
                <i class="mdi mdi-printer btn-icon-prepend"></i> </button>

            <button title="Export To Excel" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="ExportToExcel('xlsx')">
                <i class="mdi mdi-file-excel btn-icon-prepend"></i> </button>

            <button title="Export To Word" type="button" class="btn btn-sm ml-3 btn-success"
                onclick="Export2Doc('printMe');">
                <i class="mdi mdi-file-word btn-icon-prepend"></i> </button>

            <a class="btn btn-sm ml-3 btn-success" href="{% url 'child_progress' %}"><i
                    class="mdi mdi-folder-plus btn-icon-prepend"></i>
            </a>
            <a title="View Report" class="btn btn-sm ml-3 btn-success" href="{% url 'child_progress_report' %}"><i
                    class="mdi mdi-chart-line btn-icon-prepend"></i>
            </a>
        </div>
    </div>
    <hr class="bg-info" style="height: 3px;" />

    <form method="POST" action="{% url 'child_progress_report' %}">
        {% csrf_token %}
        <select name="id" id="dropdown" class="chzn-select" required>
            <option value="" selected disabled>Search child...</option>
            {% for child in children %}
            <option value="{{ child.id }}">{{ child.full_name }} &rarr; {{ child.prefixed_id }}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-sm ml-3 btn-success" onclick="return validateForm()"><i
                class="mdi mdi-view-list btn-icon-prepend"></i></button>
    </form>

    <div id="printMe" class="tab-pane show active">
        <hr class="bg-info" style="height: 3px;" />

        {% if child_progress %}
        <header style="text-align: center;">
            <h3 class="text-primary">### - {{table_title|upper}}</h3>
        </header>
        <hr class="bg-info" style="height: 3px;" />

        <table class="my-table" id="progress_table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">School</th>
                    <th scope="col">Previous Schools</th>
                    <th scope="col">Education Level</th>
                    <th scope="col">Child Class</th>
                    <th scope="col">Created at</th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for progress in child_progress %}
                <tr>
                    <th scope="row">{{forloop.counter}}.</th>
                    <td>{{progress.name_of_school}}</td>
                    <td>{{progress.previous_schools}}</td>
                    <td>{{progress.education_level}}</td>
                    <td>{{progress.child_class}}</td>
                    <td>{{progress.created_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% else %}
        <p>No progress records found for the selected child.</p>
        {% endif %}
        <hr class="bg-info" style="height: 3px;" />
    </div>
</div>

{% endblock content %}