{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <h3 class="mb-0"> Child Profile <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">
                <div class="d-flex">
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border">
                        <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
                        <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
                    <a title="Register Child" class="btn btn-sm ml-3 btn-success" href="{% url 'manage_child' %}"><i
                            class="mdi mdi-account-plus btn-icon-prepend"></i>
                    </a>
                    <a title="Upload Picture" class="btn btn-sm ml-3 btn-success" href=""><i
                            class="mdi mdi-upload btn-icon-prepend"></i>
                    </a>
                    <a title="View List..." class="btn btn-sm ml-3 btn-success" href="{% url 'child_list' %}"><i
                            class="mdi mdi-chart-line btn-icon-prepend"></i>
                    </a>
                </div>
    </div>
    <hr>
    <div>
        <header style="text-align: center;">
            <h1 class="text-primary">Child Profile</h1>
        </header>

        <table class="my-table">
            <tr>
                <td class="text-primary" colspan="4"><b>Basic Info</b>
                </td>
            </tr>
            <tr>
                <td width="45%" rowspan="2" colspan="2">
                    {% if record.avatar == ""  %}
                    No avatar!
                    {% else %}
                    <img class="rounded-circle account-img" height="100" width="100" src="{{ record.avatar.url }}"
                        style="cursor: pointer" />
                    {% endif %}
                    <i class="text-info">Reg. No:</i> {{ record.prefixed_id}}
                </td>
                <td class="text-info">First Name:</td>
                <td>{{record.first_name}}</td>
            </tr>
            <tr>
                <td class="text-info">Last Name:</td>
                <td>{{record.last_name}}</td>
            </tr>

            <tr>
                <td><i class="text-info">Gender: </i><i>{{record.gender}}</i> </td>
                <td><i class="text-info">Weight:
                    </i><i>{{record.c_weight}}Kgs</i> <i class="text-info">Height:</i>
                    <i>{{record.c_height}}"</i></td>
                <td class="text-info">Date of Birth:</td>
                <td>{{record.date_of_birth}}</td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Tribe:</i> {{record.c_tribe}}</i>
                    <i class="text-info">Background information:</i> ➡️</td>
                <td colspan="2">{{record.background_info}}</td>
            </tr>
            <tr>
                <td colspan="2"><i class="text-info">Sponsored? ➡️ </i> {{record.is_sponsored}}
                    <i class="text-info">Type: ➡️
                    </i>{{record.sponsorship_type}}</td>
                <td class="text-info">Relationsip with Christ</td>
                <td>{{record.relationsip_with_christ}}</td>
            </tr>
            <tr>
                <td class="text-info">Health Status: </td>
                <td>{{record.health_status}}</td>
                <td class="text-info">Religion: </td>
                <td>{{record.religion}}</td>
            </tr>
            <tr>
                <td class="text-info">Residence: </td>
                <td>{{record.residence}}</td>
                <td class="text-info">District: </td>
                <td>{{record.district}}</td>
            </tr>
            <tr>
                <td class="text-info">Interests: </td>
                <td>{{record.c_intrest}}</td>
                <td class="text-info">Responsibilities: </td>
                <td>{{record.responsibility}}</td>
            </tr>
            <tr>
                <td class="text-info">Prayer request: </td>
                <td>{{record.prayer_request}}</td>
                <td class="text-info">Aspirations: </td>
                <td>{{record.aspiration}}</td>
            </tr>
            <tr>
                <td class="text-primary" colspan="4"><b>Education Details </b>
                </td>
            </tr>

            <tr>
                <td class="text-info">School: </td>
                <td>{{record.name_of_the_school}}</td>
                <td class="text-info">Education level: </td>
                <td>{{record.education_level}}</td>
            </tr>
            <tr>
                <td class="text-info">Class: </td>
                <td>{{record.child_class}}</td>
                <td class="text-info">Best subject: </td>
                <td>{{record.best_subject}}</td>
            </tr>

            <tr>
                <td class="text-primary" colspan="4"><b>Family Background </b>
                </td>
            </tr>
            <tr>
                <td class="text-info">Siblings: </td>
                <td>{{record.siblings}}</td>
                <td class="text-info">Guardian: </td>
                <td>{{record.guardian}}</td>
            </tr>
            <tr>
                <td class="text-info">Gurdian Contact: </td>
                <td>{{record.gurdian_tel}}</td>
                <td class="text-info">Relationsip? </td>
                <td>{{record.relationship_with_guardian}}</td>
            </tr>

        </table>
    </div>
</div>


{% endblock content %}