{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="page-header flex-wrap">
        <h3 class="mb-0"> Lits of Children <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">
                <div class="d-flex">
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border">
                        <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
                    <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
                        <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
                    <button type="button" hx-get="{% url 'add_book' %}" hx-target="#dialog"
                        class="btn btn-sm ml-3 btn-success"> Add Child </button>
                </div>
                <!-- Empty toast to show the message -->
                <div class="toast-container position-fixed top-0 end-0 p-3">
                    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert"
                        aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div id="toast-body" class="toast-body"></div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close">X</button>
                        </div>
                    </div>
                </div>
    </div>
    <hr>

    <table class="my-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Year</th>
                <th>Action</th>
            </tr>
        </thead>

        <!-- load booklist with HTMX -->
        <tbody hx-trigger="load, bookListChanged from:body" hx-get="{% url 'book_list' %}" hx-target="this">
            <tr>
                <td class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- Placeholder for the modal -->
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>


{% endblock content %}