{% extends 'loans/base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <a href="{% url 'loans:disbursed_loans' %}">
          <button type="button" class="btn btn-info font-weight-bold">
            <i class="mdi mdi-arrow-left-bold mr-2"></i>
            Go back
          </button>
        </a>
        <a href="{% url 'loans:disburse_all_loans' %}" class="btn btn-success" title="Disburse All Loans"><i class="mdi mdi-check-circle mr-2"></i>Disburse All Loans</a>

        <a title="View List..." class="btn btn-sm ml-3 btn-success" href="{% url 'loans:disbursed_loans' %}"><i class="mdi mdi-chart-line btn-icon-prepend"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3>{{ form_title|upper }}</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <!-- Loan Field -->
              <div class="form-group">
                <label for="{{ form.loan.id_for_label }}">{{ form.loan.label }}</label>
                {{ form.loan }}
                {% if form.loan.errors %}
                  <div class="text-danger">
                    {% for error in form.loan.errors %}
                      <small>{{ error }}</small>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <!-- Account Field -->
              <div class="form-group">
                <label for="{{ form.account.id_for_label }}">{{ form.account.label }}</label>
                {{ form.account }}
                {% if form.account.errors %}
                  <div class="text-danger">
                    {% for error in form.account.errors %}
                      <small>{{ error }}</small>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <!-- Disbursement Date Field -->
              <div class="form-group">
                <label for="{{ form.disbursement_date.id_for_label }}">{{ form.disbursement_date.label }}</label>
                {{ form.disbursement_date }}
                {% if form.disbursement_date.errors %}
                  <div class="text-danger">
                    {% for error in form.disbursement_date.errors %}
                      <small>{{ error }}</small>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <!-- Payment Method Field -->
              <div class="form-group">
                <label for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label }}</label>
                {{ form.payment_method }}
                {% if form.payment_method.errors %}
                  <div class="text-danger">
                    {% for error in form.payment_method.errors %}
                      <small>{{ error }}</small>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <!-- Submit Button -->
              <div class="form-group mt-4 mb-0">
                <button type="submit" class="btn btn-dark btn-block" onclick="return confirm('Are you sure you want to proceed?') && validateForm()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
