{% extends '_partials/guest_base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
  <!-- Loan Application Form -->
  <div class="container-fluid mt-5 pt-3">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 class="text-center mb-4">{{ form_title|upper }}</h2>
        <!-- Header with Add Loan and Print button -->
        <div class="row mb-3">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <a href="{% url 'loans:apply_for_loan' %}" class="btn btn-dark ml-2"><i class="mdi mdi-plus mr-2"></i>Add Loan</a>
            <a href="{% url 'loans:loan_reports_dashboard' %}">
              <button type="button" class="btn btn-info font-weight-bold">
                <i class="mdi mdi-arrow-left-bold mr-2"></i>
                Go back
              </button>
            </a>
            <button title="Print" type="button" class="btn btn-success ml-2" onclick="printDiv('printMe')"><i class="mdi mdi-printer btn-icon-prepend"></i></button>
          </div>
        </div>

        <!-- Loan DataTable -->
        <div id="printMe" class="card shadow mb-4">
          <div class="card-header py-3 d-flex justify-content-between">
            <h3 class="m-0">{{ table_title|upper }}</h3>
            <!-- Filters and Sorting -->
            <form method="get" action="{% url 'loans:loan_applications' %}" class="py-2">
              <div class="row g-3">
                <!-- Search Filter -->
                <div class="col-12 col-md-12 d-flex">
                  <div class="me-2 w-100">
                    <input type="text" name="search" id="searchInput" value="{{ request.GET.search }}" placeholder="Search..." class="form-control pl-5" />
                  </div>
                  <button type="submit" class="btn btn-primary"><i class="mdi mdi-magnify me-2"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              {% if loans %}
                <table class="table table-striped table-bordered" id="dataTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Borrower</th>
                      <th>Loan Purpose</th>
                      <th>Principal</th>
                      <th>Interest</th>
                      <th>Period</th>
                      <th>Rate (%)</th>
                      <th>Submitted by</th>
                      <th>Applied On</th>
                      <th>Disbursed On</th>
                      <th>Due Date</th>
                      <th>Status</th>
                      <th class="text-center print-hide" colspan="7">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for loan in loans %}
                      <tr>
                        <td>{{ loan.id }}</td>
                        <td>{{ loan.borrower }}</td>
                        <td>{{ loan.loan_purpose }}</td>
                        <td class="text-right">{{ loan.principal_amount|floatformat:'2'|intcomma }}</td>
                        <td class="text-right">{{ loan.total_interest|floatformat:'2'|intcomma }}</td>
                        <td class="text-center">{{ loan.loan_period_months }}</td>
                        <td class="text-center">{{ loan.interest_rate|floatformat:0 }}%</td>
                        <td>{{ loan.applied_by }}</td>
                        <td>{{ loan.start_date|date:'d/m/Y' }}</td>
                        <td>
                          {% if loan.status == 'disbursed' %}
                            {{ loan.disbursement_date|date:'d/m/Y' }}
                          {% else %}
                            Not Yet
                          {% endif %}
                        </td>
                        <td>{{ loan.due_date|date:'d/m/Y' }}</td>

                        <td class="fw-bold">{{ loan.get_status_display }}</td>

                        <!-- Action Buttons -->
                        <td>
                          <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewReasonModal{{ loan.id }}" title="View Reason for Approval"><i class="mdi mdi-eye"></i></button>
                          <!-- Modal for viewing Reason for Approval -->
                          <div class="modal fade" id="viewReasonModal{{ loan.id }}" tabindex="-1" aria-labelledby="viewReasonModalLabel{{ loan.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="viewReasonModalLabel{{ loan.id }}">Reason for Approval - Loan ID {{ loan.id }}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <p>
                                    <strong>Reason for Approval:</strong>
                                  </p>
                                  <p>{{ loan.reason_for_approval }}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <!-- Update Button -->
                        {% if role in 'administrator hof ed' %}
                          <td class="text-center print-hide">
                            <a href="{% url 'loans:update_loan' loan.id %}" class="btn btn-warning btn-sm" title="Update Loan"><i class="mdi mdi-pencil"></i></a>
                          </td>
                        {% endif %}

                        <td>
                          <a href="{% url 'loans:repayment_schedule' loan.id %}" class="btn btn-info btn-sm" title="View Repayment Schedule"><i class="mdi mdi-calendar-text"></i></a>
                        </td>
                        <td class="text-center print-hide">
                          {% if user.profile.role == 'administrator' or user.profile.role == 'manager' or user.profile.role == 'hof' %}
                            <!-- Delete Button with Modal -->
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ loan.id }}" title="Delete Loan"><i class="mdi mdi-trash-can"></i></button>
                            <!-- Delete Modal -->
                            <div class="modal fade" id="deleteModal{{ loan.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ loan.id }}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ loan.id }}">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to delete Loan ID {{ loan.id }}?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form method="POST" action="{% url 'loans:delete_loan' loan.id %}">
                                      {% csrf_token %}
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p>No loan applications found.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Pagination links -->
        <div class="pagination mt-4">
          <span class="step-links">
            {% if loans.has_previous %}
              <a href="?page=1" title="First Page">
                <!-- First -->
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 16 16">
                  <path fill="#2375e1" d="M14 3.002a1 1 0 0 0-1.578-.816l-7 4.963a1 1 0 0 0-.007 1.628l7 5.037A1 1 0 0 0 14 13.003zM2 2.5a.5.5 0 0 1 1 0v11a.5.5 0 0 1-1 0z" />
                </svg>
              </a>
              <a href="?page={{ loans.previous_page_number }}" title="Previous Page">
                <!-- Previous -->
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20">
                  <path fill="#2375e1" d="m4 10l9 9l1.4-1.5L7 10l7.4-7.5L13 1z" />
                </svg>
              </a>
            {% endif %}

            <!-- Current Page Info -->
            <span class="current">Page {{ loans.number }} of {{ loans.paginator.num_pages }}.</span>

            {% if loans.has_next %}
              <a href="?page={{ loans.next_page_number }}" title="Next Page">
                <!-- Next -->
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20">
                  <path fill="#2375e1" d="M7 1l-1.4 1.5L13 10l-7.4 7.5L7 19l9-9z" />
                </svg>
              </a>
              <a href="?page={{ loans.paginator.num_pages }}" title="Last Page">
                <!-- Last -->
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 16 16">
                  <path fill="#2375e1" d="M2 3.002a1 1 0 0 1 1.578-.816l7 4.963a1 1 0 0 1 .007 1.628l-7 5.037A1 1 0 0 1 2 13.003zM14 2.5a.5.5 0 0 0-1 0v11a.5.5 0 0 0 1 0z" />
                </svg>
              </a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
