{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <!-- Page Header -->
    <div class="page-header flex-wrap">
        <h3 class="mb-0">{{ table_title|upper }}</h3>
        <div class="d-flex">
            <a title="Upload Book" class="btn btn-sm ml-3 btn-success" href="{% url 'upload_ebook' %}">
                <i class="mdi mdi-upload btn-icon-prepend"></i> Upload Book
            </a>
            <a title="View List" class="btn btn-sm ml-3 btn-success" href="{% url 'ebook_list' %}">
                <i class="mdi mdi-chart-line btn-icon-prepend"></i> View List
            </a>
        </div>
    </div>

    <!-- Search Form -->
    <form method="GET" action="{% url 'ebook_list' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" id="searchInput" onkeyup="searchTable()"
                placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Policy Table -->
    <div id="printMe" class="tab-pane show active">
        <header style="text-align: center;"></header>
        <hr class="bg-info" style="height: 3px;" />
        <div class="table-responsive">
            <table class="my-table" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">File</th>
                        <th scope="col">Upload Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for record in records %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}.</th>
                        <td>{{ record.title }}</td>
                        <td>{{ record.author }}</td>
                        <td>
                            {% if record.file_exists %}
                            <a href="{{ record.ebook_file.url }}" target="_blank">
                                <i style="color:red" class="mdi mdi-file-pdf"></i>
                            </a>
                            {% else %}
                            <span>No e-book available</span>
                            {% endif %}
                        </td>
                        <td>{{ record.upload_date }}</td>
                        <td>
                            {% if user.profile.role == 'administrator' or user.profile.role == 'manager' or user.profile.role == 'staff' %}
                            <a class="btn btn-primary btn-sm" title="Edit" href="{% url 'update_ebook' record.id %}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            {% else %}
                            <button class="btn btn-primary btn-sm" onclick="showNoPermissionMessage('edit')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.profile.role == 'administrator' or user.profile.role == 'manager' %}
                            <a class="btn btn-danger btn-sm" title="Erase" href="{% url 'delete_ebook' record.id %}"
                                onclick="return confirm('Are you sure about this? This record will be deleted permanently.');">
                                <i class="bi bi-trash"></i>
                                {% else %}
                                <button class="btn btn-danger btn-sm" onclick="showNoPermissionMessage('delete')">
                                    <i class="bi bi-trash"></i>
                                </button>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr class="bg-info" style="height: 3px;" />

            <!-- Pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if records.has_previous %}
                    <a href="?page=1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 16 16">
                            <path fill="#2375e1"
                                d="M14 3.002a1 1 0 0 0-1.578-.816l-7 4.963a1 1 0 0 0-.007 1.628l7 5.037A1 1 0 0 0 14 13.003zM2 2.5a.5.5 0 0 1 1 0v11a.5.5 0 0 1-1 0z" />
                        </svg>
                    </a>
                    <a href="?page={{ records.previous_page_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20">
                            <path fill="#2375e1" d="M4 10l9 9l1.4-1.5L7 10l7.4-7.5L13 1z" />
                        </svg>
                    </a>
                    {% endif %}

                    <span class="current">
                        Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    </span>

                    {% if records.has_next %}
                    <a href="?page={{ records.next_page_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 20 20">
                            <path fill="#2375e1" d="M7 1L5.6 2.5L13 10l-7.4 7.5L7 19l9-9z" />
                        </svg>
                    </a>
                    <a href="?page={{ records.paginator.num_pages }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 28 28">
                            <path fill="#2375e1"
                                d="M23.5 3.75a.75.75 0 0 1 1.5 0v20.5a.75.75 0 0 1-1.5 0zM3 5.254C3 3.438 5.041 2.37 6.533 3.406l12.504 8.68a2.25 2.25 0 0 1 .013 3.688l-12.504 8.81C5.056 25.634 3 24.57 3 22.745z" />
                        </svg>
                    </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}