{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h5 class="display-4"
            style="color:#F79420; font-family: 'Lucida Calligraphy', 'Lucida Sans Unicode', sans-serif;">
            Oops! You have been logged out!</h5>
        <p class="lead">
            Thanks for your time, <a href="{% url 'contact_us' %}">contact us</a>
            for any comments or suggestions.
        </p>
        <br>
        <hr><a href="{% url 'login' %}" class="btn btn-primary">Sign in again</a>
    </div>
</div>


{% endblock content %}