{% extends "users/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="p-4">
                <img src="{% static 'images/hero.png' %}" class="img-fluid mx-auto" alt="Background Image">
            </div>
        </div>
        <div class="col-md-6 m-auto">
            <div class="p-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <h3>Sponsorship & Donor Management Software (SDMS)</h3>
                        <hr class="my-4" style="height: 5px; background-color: #008080;" />

                        <!-- Welcome Message -->
                        <div class="welcome-message">
                            <p>Dear <span style="color:#F79420;">{{user.first_name.title|default:'Guest'}}</span>,
                                You have been logged out! <a href="{% url 'contact_us' %}">contact us</a>
                                for any comments or suggestions.
                            </p>
                            <hr class="my-4" style="height: 5px; background-color: #008080;" />

                            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Sign In</a>
                            <span class="mx-2">OR</span>
                            <a href="{% url 'users-register' %}" class="btn btn-primary btn-lg">Register</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}